<div>
	<h2> <%= @post.rationale %>
</div>



<div class= "well">
	<div>
	<h3> <span> Overtime Requested: </span> <%= @post.overtime_request %> </h3>
	</div>
	<div>
		 <h3> <span> Employee: <%= @post.user.full_name %>  </span> </h3>
	</div>
	<div>
		<h3> <span> Date: <%= @post.date %>  </span> </h3>
	</div>
	<div>
		<h3> <span>  Current Stage of Approveal: <%= @post.status %>  </span> </h3>
	</div>
</div>

<%= link_to "Edit", edit_post_path(@post), class: 'btn btn-primary' if policy(@post).update? %>

