<!DOCTYPE html>
<html>
  <head>
    <title>Overtime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
  	<div class="row">
			<div class="col-md-12">
				<%= render 'shared/nav' %>
    			<%= yield %>

          <%= js add_gritter(flash[:notice], title: "Overtime App Notification", sticky: false, time: 5000) %>
          <!--  adding image: :notice to the gritter field will add an image for the notificaiton. -->
    	</div>
    </div>
  </body>
</html>



	